@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

* {
    scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
    border: 0%;
    font-family: 'Press Start 2P', cursive;
}
.row {
    animation: transitionIn 0.75s;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateX(0);

    }
}
.background {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://wallpaperaccess.com/full/6604090.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}


/* THIS IS FOR RESPONSIVE BACKGROUND */
@media  screen and (max-width: 101px) {
    .background {
        height: 200vh;
    }
}
@media  screen and (max-width: 100px) {
    .background {
        height: 200vh ;
        
    }

}
@media  screen and (min-width: 1500px) {
    .background {
        height: 100vh ;
        
    }
   
}

h2{
  
    animation: blink 2.5s linear infinite;
}

@keyframes blink {
    0%{opacity: 0;}
    20%{opacity: .2;}
    40%{opacity: .4;}
    60%{opacity: .6;}
    80%{opacity: .8;}
    100%{opacity: 1;}
    
}
/* THIS IS FOR NAVIGATION BAR */
.navbar {
    background: rgba(0,0,0, 0.2);
    height: 15%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 10%;
}
.navbar p{
   position: absolute;
   margin-left: 5px;
   margin-top: 5%;
    opacity: 30%;
    color: rgb(255, 16, 215);
}

nav ul li a{
    font-size: 15px;
    text-decoration: none;
    
}


.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navlinks li a {
    
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}
.navlinks li a:hover {
    
    color: rgb(241, 26, 98);
    
}

.logo {
    height: 75px;
    width: 75px;
    margin: 0%;
}

.logo:hover{
   cursor: pointer;
}


/* THIS IS FOR CONTENT TEXT */

.row {
    text-align: center;
    align-items: center;
    display: flexbox;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0px;

}   
.row img {
    align-items: center;
}
h1{
    margin-bottom: 10px;
    font-size: 26px;
    color: aliceblue;

}
p {

    color: aliceblue;

    font-size: 13px;
}



/* THIS IS FOR LOGO AND TEXT */
h3 {
    background: transparent;
    text-decoration: none;
    font-size: 10px;
    opacity: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 50px;
    transition: all 0.5s ease 0s;


}

.btn {

    width: 190px;
    height: 100px;
    border: none;
    border-radius: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease 0s;

    
}

.row h2 {
    margin-top: 5%;
    color: white;
}
.btn p {
    text-decoration: none;
    font-size: 12px;
    text-align: center;
}
.btn a img {
    width: 120px;
    height: 120px;
    margin-right: 12px;
    transition: all 0.5s ease 0s;
}

.btn a img:hover {
    transform: scale(1.2);
}

h3:hover {
    transform: translateY(-10px);

}


/* THIS IS FOR ABOUT*/
.about-creator {
    text-align: center;
}
.creator {
    text-decoration: none;
    color: white;
    margin-top: 50px;
}
.creator li {
    text-decoration: none;
    color: white;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    transition: all 0.3s ease 0s;
}

.creator li:hover {
    transform: translateY(-5px);
}

/* THIS IS FOR CREDITS */

.creds {
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 50px;

}

.creds li {
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease 0s;
}

.creds li:hover {
    transform:translateY(-5px);
}
   
   






































/* THIS IS FOR FOOTER */
.footer p {
    margin-top: 80px;
    text-align: center;
    font-size: 7px;
    opacity: 50%; 
}
